/* OpenSans font */

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Bold.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans//OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* ProximaNova font */

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova/ProximaNovaExCn-Thin.eot');
  src: local('Proxima Nova Condensed Thin'), local('ProximaNovaCond-Thin'),
    url('../fonts/ProximaNova/ProximaNovaExCn-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova/ProximaNovaExCn-Thin.woff') format('woff'),
    url('../fonts/ProximaNova/ProximaNovaExCn-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* static-classes */

.error-message {
  border-radius: 4px;
  background-color: rgb(226, 42, 50);
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 14px 0;
  font-size: 11px;
  font-family: "Arial", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
} 

.wrapper {
  /* background: url('../img/background-clouds-cold-dark.jpg'), 0 0 / 100% 100%  no-repeat; */
  background-image: url('../img/background-clouds-cold-dark.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "OpenSans", sans-serif;

}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.log-in {
  display: flex;
  gap: 12px;
  align-items: center;
}

.log-in__email {
  position: relative;
}

.log-in input[type="text"] {
  width: 200px;
  padding: 11px 14px;
  border-radius: 4px;
  color: rgb(110, 116, 124);
  background-color: rgb(255, 255, 255);
  font-family: "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  font-size: 14px;
}

.log-in input[type="text"]::placeholder {
  color: #6e747c;
}

.log-in__email .error-message {
  top: 45px;
}

.log-in__password {
  position: relative;

}

.log-in__password a {
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  font-size: 11px;
  font-family: "Arial", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.2;
}

.log-in button {
  border-radius: 4px;
  padding: 10.5px 20.5px;
  background-image: linear-gradient(61deg, rgb(88, 102, 234) 0%, rgb(43, 160, 234) 100%);
  font-size: 13px;
  font-family: "Arial", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.3;
}

.log-in button:hover {
  box-shadow: 0px 1px 17px 0px rgba(43, 160, 234, 0.66);
}

.main {
  height: calc(100vh - 109px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__content h1 {
  font-size: 35px;
  font-family: "ProximaNova", sans-serif;
  color: rgb(131, 166, 228);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.main__content h1 span {
  color: #FFF;
  font-family: "OpenSans", sans-serif;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: capitalize;
}

.main__form {
  margin-top: 40px;
}

.form__container {
  margin-left: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.form__return {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  width: 36px;
  height: 36px;
  opacity: 0.502;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;

}

.form__return:hover {
  opacity: 1;
}

.form__wrapper {
  position: relative;
  width: 370px;
  height: 155px;
  overflow: hidden;
}

.form__item {
  position: absolute;
  transition: .5s;
  left: calc(50% - 181px);
  top: 0;
  width: 360px;
}

.form__item form h4 {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
}

.form__item form select {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  color: rgb(110, 116, 124);
  line-height: 1.2;
  text-align: center;
  appearance: none;
  z-index: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__item form select:focus-visible {
  outline: none;
}

.form__item form input {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  color: rgb(110, 116, 124);
  line-height: 1.2;
  text-align: center;
}

.form__item form input[type="password"] {
  font: caption;
  letter-spacing: 8px;
}

.form__item form input[type="password"]::placeholder {
  font-family: "OpenSans", sans-serif;
  letter-spacing: normal;
}


.form__item .form__about {
  font-size: 11px;
  font-family: "OpenSans", sans-serif;
  color: rgba(255, 255, 255, 0.502);
  font-weight: bold;
  line-height: 1.455;
  text-align: center;
  margin-top: 16px;
}
.form__item .error-message {
  top: 100px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
}


.form__item .form__about a {
  text-transform: capitalize;
  color: inherit;
}

.form__item form {
  border-radius: 4px;
  background-color: rgb(150, 163, 173);
  opacity: 0.902;
  padding: 12px 4px 4px 4px;
  text-align: center;
}

.select-wrapper {
  position: relative;
  margin-top: 10px;
}

.select-arrow {
  position: absolute;
  z-index: 2;
  border: 7px solid transparent;
  border-bottom: 0;
  right: 11px;
}

.select-arrow:nth-child(2) {
  top: 25px;
  right: 25px;
  border-top-color: rgb(150, 163, 173);
}

.form__nav-btn {
  border-radius: 4px;
  height: 40px;
  padding: 10px 16px;
  display: flex;
  text-wrap: nowrap;
  cursor: pointer;
  margin-bottom: 10px;
  gap: 10px;
  align-items: flex-end;
}

.form__nav-btn span {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;

}

.form__nav-btn_next {
  background-image: linear-gradient(61deg, rgb(88, 102, 234) 0%, rgb(43, 160, 234) 100%);
}

.form__nav-btn_next:hover {
  box-shadow: 0px 1px 17px 0px rgba(43, 160, 234, 0.66);
}

.form__nav-btn_start {
  background-image: linear-gradient( 61deg, rgb(76,175,80) 0%, rgb(60,211,66) 100%);
}

.form__nav-btn_start svg {
  align-self: center;
}

.form__nav-btn_start:hover {
  box-shadow: 0px 1px 17px 0px rgba(76, 175, 80, 0.66);
}

.form__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 35px;
}

.form__progress span {
  display: block;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 2px solid white;
}

/* slider classes start */
.form__active {
  transform: none;
  z-index: 1;
  opacity: 1;
}

.form__in {
  transform: translateX(370px);
  z-index: -1;
  opacity: 0;
}

.form__out {
  transform: translateX(-370px);
  z-index: -1;
  opacity: 0;
}

/* slider classes end */

.display-none {
  display: none;
}